.text1
{
    color: red;
    font-size: 18px;
}
.text2
{
    color: blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
}
.text3
{
    font-size: 14px;
    color: purple;
    font-style: italic;
}